name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run tests
      run: |
        pytest -vv test_*.py

    - name: Lint code
      run: |
        pylint --disable=R,C,E0602,E1120 wikibot.py

    - name: Format code
      run: |
        black *.py
    - name: Attest Build Provenance
      run: |
        uses: actions/attest-build-provenance@v2.2.0
